
.container{
    display: flex;
    font-size: 1.5rem;
    color: white;
}

.photo{
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/myphoto.jpg');
    border-radius: 25px;
}

.slider__text{
    width: 50%;
}

.slider__photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.slider__btn{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
